.ui.form {
  .field {
    .input {
      input {
        border-radius: 20px;
        background-color: $background-secondary;
        border-color: $background-secondary;
        color: $font-light;

        &:hover,
        &:active,
        &:focus {
          background-color: $background-secondary;
        }
      }

      i {
        color: $font-light;
      }
    }

    .dropdown {
      border-radius: 20px;
      background-color: $background-secondary !important;
      border-color: $background-secondary !important;

      &:hover {
        .menu {
          border-color: $background-secondary !important;
        }
      }

      input {
        border-radius: 20px;
        background-color: $background-secondary !important;
        border-color: $background-secondary !important;
        color: $font-light;

        &:hover,
        &:active,
        &:focus {
          background-color: $background-secondary !important;
        }
      }

      .menu {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $background-secondary;
        border-color: $background-secondary;

        .item {
          border-color: $background-secondary;

          span {
            color: $font-light;
            opacity: 0.6;
          }
        }

        .message {
          color: $font-grey;

          span {
            color: $font-light;
            opacity: 0.6;
          }
        }

      }
    }

    &.error {
      .ui.input {
        input {
          background-color: $background-secondary;
          border: 1px solid $danger;
          color: $danger;
        }

        i {
          color: $danger;
        }
      }
    }
  }
}

.ui.button {
  border-radius: 50px;

  &.primary {
    background-color: $primary-color;
    color: $font-light;

    &:focus {
      background-color: $primary-color;
    }
  }

  &.secondary {
    background-color: $background-light;
    color: $font-dark;

    &:hover {
      background-color: $primary-color-hover;
    }
    &:focus {
      background-color: $background-light;
    }
  }

  &.primary,
  &.secondary {
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}