@import "~/src/sass/index.scss";

$footerHeight: 100px;
$headerHeight: 40px;
$menuWidth: 300px;

.logged-layout {
  height: 100vh;
  background-color: $background-primary;

  &__toolbars {
    display: flex;
    height: calc(100vh - $footerHeight);
  }

  &__left-menu {
    background-color: $background-dark;
    width: $menuWidth;
  }

  &__content {
    width: calc(100% - $menuWidth);
  }

  &__children {
    height: calc(100vh - $footerHeight - $headerHeight);
    overflow-y: auto;
  }

  &__top-bar {
    position: relative;
    width: 100%;
    height: $headerHeight;
    z-index: 1;
  }

  &__footer {
    position: relative;
    background-color: $background-primary;
    height: $footerHeight;
    border-top: 1px solid $border-primary;
    box-shadow: 0px 0px 20px -5px $background-dark;
    z-index: 1;
  }
}