@import "~/src/sass/index.scss";

.form-new-song {
  &__banner {
    height: 170px;
    background-color: $background-secondary;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &.error {
      border: 1px solid $danger;
    }

    &:hover {
      cursor: pointer;
    }

    .ui.image {
      height: 100%;
      object-fit: contain;
      min-width: 100%;
      min-height: 100%;

      &.full {
        height: auto;
      }
    }
  }

  .field  {
    .input {
      input {
        font-size: 16px;
      }

      i {
        font-size: 19px;
      }
    }
  }
  .ui.button {
    text-transform: uppercase;
    margin-top: 10px;
    padding: 14px;
    letter-spacing: 3px;
  }
}