@import "~/src/sass/index.scss";

.form-new-album {
  &__content {
    display: flex;
    margin-bottom: 20px;

    &-image {
      height: 130px;
      width: 130px;
      background-color: $background-secondary;
      border-radius: 20px;
      margin-right: 20px;

      .image {
        border-radius: 20px;
        height: 100%;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }

      &.error {
        border: 1px solid $danger;
      }
    }

    &-input {
      width: calc(100% - 130px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}